a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  font-family: "Poppins", sans-serif;
  color: #212121;
  font-size: 14px;
  background-color: #fafafa;
  line-height: 1.5;
}

h1,
h2,
h3 {
  line-height: 1.33;
  font-family: "Oswald", sans-serif;
}

ul {
  list-style-type: none;
}

.page-header {
  background-color: #bdbdbd;
}

.page-nav .link {
  color: #00bcd4;
  font-size: 14px;
  text-transform: uppercase;
}

.page-nav .link:hover,
.page-nav .link:focus {
  color: #18ffff;
}

.page-nav .link:active {
  color: #212121;
}

.page-title {
  color: #f44336;
  /* font-family: "Georgia", serif; */
  font-size: 24px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px 4px #212121;
}

.section-title {
  color: #3f51b5;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
}

.section-text {
  color: rgb(0, 0, 0);
  line-height: 1.5;
  text-indent: 24px;
}

.page-footer {
  background-color: #212121;
}

.copyright-text {
  color: #ffffff;
}

.club-list .title {
  color: #4caf50;
  font-size: 16px;
  text-align: center;
}

.club-list .section-text {
  color: #009688;
}

.club-list .link {
  color: #ffc107;
  font-size: 14px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.club-list .link:hover,
.club-list .link:focus {
  color: #f57f17;
}

.club-list .link:active {
  color: #ff1744;
}

.benefits > li {
  color: #d500f9;
}

.download .plan-name {
  color: #ff1744;
}

/* #hero {
  color: #3f51b5;
}
#clubs {
  color: #9c27b0;
}
#benefits {
  color: #00bcd4;
}
#programs {
  color: #ff9800;
} */
